*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans';   
}
nav{
   width: 80%;
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.menu{
    width: 40%;
    display: flex;
    justify-content:space-around;
    padding-top: 17px;
}
img{
    width: 1440px;
    padding: 0px 0px 75px;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
   
    color: white;
    font-size: 26px;
    padding-left: 30px ;
    padding-top: 10px;
    font-weight: bold;
}
a{
    color: white;
    font-size: 17px;
}